
<div  >
  <div >
  <h3>Content-1</h3>
  <span #contents   *ngFor= "let sentence of data"  
   [ngClass]= "!checked ? 'selected' : 'nohover'"
   >
    <span kendoPopoverAnchor
    
     [popover]="myPopover" 
      filter="span" 
      *ngIf= "!checked"
      style="padding-top: 10px;"
       [copyClipboard]= "sentence"
       (click)= "onClick()"      
      >
       {{sentence}}.</span>

       <span kendoPopoverAnchor
       #anchor
       [popover]="myPopover" 
       kendoPopoverContainer  
        #container="kendoPopoverContainer"
       *ngIf= "checked"
        filter="span" 
        style="padding-top: 10px;"
         [CustomClipboard]= "sentence"
         showOn="none" 
         (mouseleave)="onShow(anchor)"            
        >
         {{sentence}}.</span>    
  </span>
     
  <br>
  <kendo-switch class="example-config" [(ngModel)]="checked"></kendo-switch>
</div>
<kendo-popover #myPopover [width]="300"  position="bottom"
>
<ng-template kendoPopoverTitleTemplate
showOn="none">
  {{selected}}
</ng-template>
</kendo-popover>
</div>

